<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PG_UI2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <runtime>
        <legacyCorruptedStateExceptionsPolicy enabled="true"/>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Ivi.Visa" publicKeyToken="a128c98f1d7717c1" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-5.11.0.0" newVersion="5.11.0.0"/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <userSettings>
        <PG_UI2.Properties.Settings>
            <setting name="ComboBoxRawFormatV3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ComboBox8BitNormalize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ComboBoxRawFormatV5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ComboBoxRawFormatV7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="T2001JA_HysteresisFilter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="T2001JA_HysteresisFilterThreshold" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="T2001JA_HysteresisFilterRemappingTo3Levels" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="T2001JA_HysteresisFilterType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="T2001JA_HysteresisFilterOption" serializeAs="String">
                <value>0</value>
            </setting>
        </PG_UI2.Properties.Settings>
    </userSettings>
</configuration>
